<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>School Register</title>
</head>
<body>
  <header>
    <img src="https://1000logos.net/wp-content/uploads/2018/08/Hogwarts-Logo.jpg" alt="Hogwarts logo" height="100">
    <h1>Hogwarts School</h1>
    <img src="https://1000logos.net/wp-content/uploads/2018/08/Hogwarts-Logo.jpg" alt="Hogwarts logo" height="100">
  </header>
  <nav> 
    <ul>
      <li>
        <a href="/students">FULL STUDENT LIST</a>
      </li>
    </ul>
  </nav>   
  <%= yield %>
</body>
</html>