<form method="post" action="/students">
    <label for="first-name">First Name:</label>
    <input id="first-name" type="text" name="first_name"/>

    <label for="second-name">Second Name:</label>
    <input id="second-name" type="text" name="second_name"/>

    <label for="house-select">House</label>
    <select id="house-select" name="house">
        <option value="Gryffindor">Gryffindor</option>
        <option value="Hufflepuff">Hufflepuff</option>
        <option value="Ravenclaw">Ravenclaw</option>
        <option value="Slytherin">Slytherin</option>
    </select>

    <label for="age">Age:</label>
    <input id="age" type="number" name="age"/>

    <input type="submit" value="Add student"/>

</form>